Repository jart/cosmopolitan, pull requests merged in 2024-06, with the labels that each got.

#1199 wip ctl::string small-string optimization
  ctl/strcat.cc
  ctl/string.cc
  ctl/string.h
  test/ctl/string_test.cc
Labels: testing

#1201 Fix some memory issues with ctl::string
  ctl/string.cc
  ctl/string.h
  test/ctl/string_test.cc
Labels: testing

#1203 Fix bugs in in ctl::optional
  ctl/optional.h
  test/ctl/optional_test.cc
Labels: testing

#1202 Get rid of preprocessor stuff in test
  test/ctl/string_test.cc
Labels: testing

#1210 Uncomment swap test
  test/ctl/string_test.cc
Labels: testing

#1216 Implement ctl::unique_ptr
  ctl/unique_ptr.cc
  ctl/unique_ptr.h
  test/ctl/unique_ptr_test.cc
Labels: testing

#1220 Update labeler.yml to remove testing label from the autolabeler
  .github/labeler.yml
Labels: devops

#1227 CTL: utility.h, use ctl::swap in string
  ctl/optional.h
  ctl/string.h
  ctl/string_view.h
  ctl/unique_ptr.h
  ctl/utility.cc
  ctl/utility.h
  ctl/vector.h
  libc/integral/cxx.inc
  test/ctl/optional_test.cc
  test/ctl/string_test.cc
  test/ctl/string_view_test.cc
  test/ctl/unique_ptr_test.cc
  test/ctl/vector_test.cc
Labels: libc

#1200 ctl::string benchmarking code
  test/ctl/BUILD.mk
  test/ctl/string_bench.cc
Labels: testing
