Repository jart/cosmopolitan, pull requests merged in 2024-09, with the labels that each got.

#1273 Fix printf-family functions on long double inf
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1275 Fix printf funcs on memory pressure with floats
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_enomem_test.c
  third_party/gdtoa/dmisc.c
  third_party/gdtoa/dtoa.c
  third_party/gdtoa/gdtoa.c
  third_party/gdtoa/misc.c
Labels: libc, third_party

#1276 Add POSIX's C conversion specifier to printf funcs
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1278 Implement length modifiers for printf %n conv spec
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1282 Fix ecvt/fcvt issues w.r.t. value==0 and ndigit==0
  libc/stdio/ecvt.c
  test/libc/stdio/ecvt_test.c
Labels: libc

#1283 Fix printf-family long double prec/rounding issues
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
  third_party/gdtoa/gdtoa.c
Labels: libc, third_party

#1284 Fix rare corner case in ntspawn.c
  libc/calls/ntspawn.c
Labels: libc

#1286 Partially fix printf hex float numbers/%a rounding
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1291 Fix statx not being allowed on rpath/wpath pledges
  libc/calls/pledge-linux.c
Labels: libc

#1290 Make the pledge sandbox .so object work with UBSAN
  tool/build/BUILD.mk
Labels: tool

#1285 Add POSIX's apostrophe flag for printf-based funcs
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1287 Hopefully completely fix printf-family %a rounding
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1294 Fix unicode look-alike in define
  libc/nt/enum/wt.h
Labels: libc

#1296 Fix printing decimal-point character on printf %#a
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1297 Fix 0 before decimal-point in hex float printf fns
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1300 Add the uppercase B conversion specifier to printf
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc
