Repository jart/cosmopolitan, pull requests merged in 2024-08, with the labels that each got.

#1247 convert GCC 14 errors back to warnings
  libc/integral/c.inc
Labels: libc

#1254 Build a nightly cosmocc artifact
  .github/workflows/nightly-cosmocc.yml
Labels: devops

#1261 mkntpath: normalization fix relative parsing
  libc/calls/mkntpath.c
  test/libc/calls/mkntpath_test.c
Labels: libc

#1268 Make it so the test harness closes fds up to 100, not only 10
  libc/testlib/testmain.c
Labels: libc

#1269 Fix vfprintf and derived functions badly handling +/` flag conflict
  libc/stdio/fmt.c
  test/libc/stdio/snprintf_test.c
Labels: libc

#1270 Fix redbean OnLogLatency documentation
  tool/net/help.txt
Labels: tool
