Repository jart/cosmopolitan, pull requests merged in 2025-03, with the labels that each got.

#1381 Support additional architectures in apelink
  libc/elf/def.h
  tool/build/apelink.c
Labels: libc, tool

#1384 Add NetBSD evbarm and fix segfault
  tool/build/apelink.c
Labels: tool

#1387 add support for getcpu() system call to pledge()
  libc/calls/pledge-linux.c
Labels: libc
