Repository jart/cosmopolitan, pull requests merged in 2025-01, with the labels that each got.

#1349 redbean: enable sqlite3 serialization
  tool/net/BUILD.mk
Labels: tool

#1352 Resolve multiple definition of __sig (fixes #1346)
  libc/intrin/sigblock.c
Labels: libc

#1353 Standard make path
  Makefile
  README.md
  ape/apeinstall.sh
  build/download-cosmocc.sh
  test/posix/sigchld_test.c
  tool/zsh/mmake
Labels: documentation, build, ape, tool
